.carousel h1{
    font-family: "Times", serif;
    font-size: 4rem;
  }
  
  .carousel p{
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    -webkit-text-stroke: 1px rgba(52, 8, 250, 0.733);
  }
  
  .w-100{
    height: 80vh;
  }