:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-thirdary: "Times", serif;
}

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: rgb(249, 249, 239);
  --color-secondary: #f85a40;
  --color-thirdary: rgb(0,43,116);
  --color-fourth: rgb(1, 69, 186);
}

.carouselTocarema h1 {
  font-family: "Times", serif;
  font-size: 4rem;
  letter-spacing: -1px;
  font-weight: 700;
}

.carouselTocarema p {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  -webkit-text-stroke: 0.5px rgba(0, 43, 116, 0.733);
}

/* .w-100 {
  height: 80vh;
} */
.carouselTocarema .btn-primary {
  background-color: var(--color-fourth);
  font-weight: 500;
  border: var(--color-thirdary);
}

.carouselTocarema .btn-primary a:hover {
  color: white;
}

.carouselTocarema .carousel-inner .carousel-item img {
  height: 80vh;
  width: 100%;
}

.carouselTocarema .carousel-inner .carousel-item > img {
  -webkit-animation: thing 20s;
  animation: thing 20s;
}

@-webkit-keyframes thing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}

@keyframes thing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.3, 1.3);
  }
}
@media (max-width: 575px) {
  .carouselTocarema h1 {
    font-size: 2.5rem;
  }
  .w-100 {
    height: 50vh;
  }
  .carouselTocarema p {
    font-size: 1.5rem;
  }
}
.carousel-dark .carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-dark .carousel-caption h5 {
  font-size: 1.8rem;
  letter-spacing: -1px;
  font-weight: 600;
  color: #fff;
  -webkit-animation: animate-carousel-title 1s normal forwards;
          animation: animate-carousel-title 1s normal forwards;
}

@-webkit-keyframes animate-carousel-title {
  0% {
    transform: translate(0, -2em);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animate-carousel-title {
  0% {
    transform: translate(0, -2em);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* .w-100 {
  height: 80vh;
} */
@media (max-width: 575px) {
  .carouselTocarema h1 {
    font-size: 1.2rem;
  }
}
.footer {
  background-color: var(--color-fourth);
}

.footer .btn-floating {
  border-radius: 50%;
}

.footer .btn-floating i {
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.facebook :hover {
  color: #1877f2;
  transform: scale(1.3) rotate(360deg);
}

.facebook :active {
  color: #1877f2;
}

.instagram :hover {
  color: #fd1d1d;
  transform: scale(1.3) rotate(360deg);
}

.twitter :hover {
  color: #1da1f2;
  transform: scale(1.3) rotate(360deg);
}

.social {
  padding: 2rem 0 1.5rem 0;
}

.contactoFooter {
  padding: 0 0 1.5rem 0;
}

.contactoFooter i {
  font-size: 48px;
}

.cp {
  font-size: 0.8rem;
  background-color: var(--color-thirdary);
  font-family: var(--font-secondary);
}/*# sourceMappingURL=style.css.map */